*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    background-image: url(cov\ -\ Copy.jpg) ;
   

}
.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #282828;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.05);
    border-style:   ridge;
}
.display{
    height:  70px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 40px;
    font-size: 25px;
    color: #023058;
    pointer-events: none;
    border-style: solid;
    background-color: rgb(219, 218, 218);
}
.button{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    
}
.button button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
    border-style:   ridge;
}
.button button:active{
    transform: scale(0.99);
}
.operator {
    color: #2f9fff;
}
